*{
  padding: 0;
  margin: 0;
}
html, body {
    overflow: hidden;
    height: 100%;
}

body {
    color: #999;
    font-family: 'MyriadSetPro-Thin', 'Lato', 'Microsoft Jhenghei', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}

h1, h4 {
    cursor: default;
}

h1 {
    color: #333;
}

h4 {
    white-space: nowrap
}

a {
    color: #999;
    font-size: 16px;
    text-decoration: none;
    padding: 4px 10px 4px 10px;
    -webkit-tap-highlight-color: #999;
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
}

h1, h4 {
    padding: 0;
    margin: 10px 0 10px 0;
    letter-spacing: 2px;
}

.content, .banner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner {
    font-size: 44px;
    color: #ffffff;
    letter-spacing: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.list-wrap {
    font-size: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cqmovie {
    background-image: linear-gradient(60deg, #fbed96 0%, #abecd6 100%);
    background-image: -webkit-linear-gradient(60deg, #fbed96 0%, #abecd6 100%);
}

.github {
    background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);
    background-image: -webkit-linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);
}

.photos {
    background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
    background-image: -webkit-linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
}

.blog {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    background-image: -webkit-linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.workshop {
    background-image: linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
    background-image: -webkit-linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
    background-size: 400% 400%;
    animation: Gradient 20s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@media screen and (max-width: 768px) {
    .banner {
        font-size: 30px;
        letter-spacing: 2px;
    }
}